.topbar {
  width: 100%;
  height: 72px;
  z-index: 150;
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--bg-primary);
  /* border: 1px solid red; */
}

.topbar .topbar-left {
  margin-left: 24px;
  margin-bottom: -4px;

  img {
    height: 36px;
    cursor: pointer;
    width: max-content;
    color: #FFFFFF;
  }

}

/* .topbar .topbar-left {
  margin-left: 24px; display: flex; align-items: center; justify-content: center; font-family: var(--font-geist-sans);

  h1 { font-size: 28px; font-weight: 400; }
  sup { font-size: 16px; height: 40px;}
} */


.topbar .topbar-middle {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.topbar .topbar-middle button {
  height: 36px;
  border: none;
  display: flex;
  cursor: pointer;
  color: var(--text-primary);
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  border-radius: 12px;
  background-color: transparent;
  padding: 16px 12px 16px 12px;
  transition: 0.15s ease-in-out;
  font-family: var(--font-manrope);
}

.topbar .topbar-middle button:hover {
  color: var(--text-primary);
  background-color: var(--bg-secondary);
}


.topbar .topbar-right {
  position: absolute;
  right: 24px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-n-account {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 4px;
  border: 1px solid var(--border-primary);

  .menu-toggle,
  .user-account {
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s ease-in-out;

    .icon {
      color: var(--text-secondary);
    }
  }

  .menu-toggle:hover,
  .user-account:hover {
    background-color: var(--bg-secondary);

    .icon {
      color: var(--text-primary);
    }
  }

}


.topbar .menu-box {
  /* width: 200px; */
  width: 150px;
  top: 64px;
  right: 26px;
  padding: 8px;
  z-index: 100;
  border-radius: 24px;
  position: absolute;
  border: 1px solid var(--border-primary);
  background-color: var(--bg-primary);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

  button {
    height: 36px;
    width: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    border-radius: 16px;
    padding: 8px 8px 8px 12px;
    transition: 0.2s ease-in-out;
    color: var(--text-primary);
    background-color: transparent;
    font-family: var(--font-manrope);
  }

  button:hover {
    color: var(--text-primary);
    background-color: var(--bg-secondary);
  }

  .line-separator {
    width: 100%;
    height: 1px;
    margin: 8px 0;
    background-color: var(--border-primary);
  }

  .theme-toggle-container-under-menubox,
  .line-separator {
    display: none;
  }

}

.topbar .menu-box.closed {
  display: none;
}

.topbar .menu-box.open {
  display: block;
}

/* Mobile = 359px */
@media (max-width: 900px) {

  .topbar-left {
    cursor: default;
  }

  .topbar .topbar-middle {
    display: none;
  }

  .topbar-right {
    cursor: none;

    .theme-toggle-container {
      display: none;
    }
  }

  .topbar .menu-box {

    .theme-toggle-container-under-menubox,
    .line-separator {
      display: flex;
    }
  }

}