.heading {
  font-size: 40px;
  font-weight: 400;
  color: var(--text-primary);
  letter-spacing: -1px;
  font-family: var(--font-geist-sans);
  height: 72px;
  border-bottom: 1px solid var(--border-primary);

}

.research_articles_container {
  padding: 24px;
  display: flex;
  flex-direction: column;
}

.research_articles_container .research_card {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid var(--border-primary);


  .publish_time {
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
    color: var(--text-tertiary);
    font-family: var(--font-manrope);
  }

  .title_heading {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-primary);
    font-family: var(--font-geist-sans);
  }

  .short_description {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--text-primary);
    font-family: var(--font-manrope);
  }

}